{{#if expressFlash}}
    <div class="alert alert-success">
        <p>{{expressFlash}}</p> 
    </div>
{{/if}}
<h1>{{title}}</h1>
<ul class="list-group">
    {{#each article}}
        <li class="list-group-item"><a href="/articles/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
</ul>